.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  color: rgba(242, 245, 247, 0.75);
}
.nav-link:hover{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.nav-link:active{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.nav-link:visited{
  color: rgba(242, 245, 247, 0.75);
}

.navbar {
  background-color: rgb(44, 0, 138);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s;
}

#contactmebtn {
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: rgb(216, 216, 216);
  background-color: rgb(3, 69, 183);
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}
#contactmebtn:hover {
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-decoration: none;
  color: rgb(10, 10, 10);
  background-color: white;
  font-size: x-large;
  font-weight: bold;
  transition: 0.3s;
}
